body {
  min-height: 75rem;
  padding: 4.5rem 0 0;
  margin: 0;
  font-family: sans-serif;
}

.card {
  padding: 0;
}

.overlay-container {
  position: relative;
}

.overlay-container:hover .overlay {
  opacity: 1;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  transition: 0.5s ease;
  font-size: 20px;
}

.overlay-background {
  background: #000000;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  text-align: center;
  padding: 20px;
}

.overlay-price {
  text-align: right;
  font-weight: bold;
}

.details {
  color: white;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.details:hover {
  color: #0000ff;
}

.ether-price {

  .price-icon {
    margin: 0 5px;
  }
}
