
$black: #1A1A1A;
$gray: #818283; //848484;
$green: #659486;
$blue: #221C84;
$red: #E51B11;
$gold: #F8C117;
$white: #fff;
$off-white: #EFF5F5;

$color1: #1de099;
$color2: #1dc8cd;

body > #root > div > main {
  height: 100vh;
}

.navigation {
  .navbar {
    //background-color: $black;
     background: linear-gradient(45deg, $color1, $color2);
  }
  .navbar-brand {
    color: $white;
  }
  .nav-link {
    color: $white;
  }
  .active {
    background-color: $white;
    color: $color2;
  }
}

$intro-height: 100%;
.home {
  height: 100vh;
  .login {
    margin-top: 20px;
  }
  .intro {
    text-align: center;
    align-items: center;
    padding-top: 100px;
    min-height: $intro-height;
    background: linear-gradient(45deg, $color1, $color2);
  }
  .intro-text {
    height: 50%;
    h1 {
      font-size: 48px;
      line-height: 56px;
      font-weight: 400;
      color: $white;
    }
    p {
      font-size: 24px;
      color: $white;
    }
  }
  .secondary {
    background-color: $off-white;
    min-height: 400px;
  }
}

body {
  padding: 3.5rem 0 0;
  margin: 0;
  font-family: sans-serif;
}

.card {
  padding: 0;
}

.overlay-container {
  position: relative;
}

.overlay-container:hover .overlay {
  opacity: 1;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  transition: 0.5s ease;
  font-size: 20px;
}

.overlay-background {
  background: #000000;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  text-align: center;
  padding: 20px;
}

.overlay-price {
  text-align: right;
  font-weight: bold;
}

.details {
  color: white;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.details:hover {
  color: #0000ff;
}

.ether-price {
  .price-icon {
    margin: 0 5px;
  }
}

.transaction-report {
  .price {
    font-size: 16px;
  }
  .chart {
    margin-top: 30px;
  }
}