body {
  min-height: 75rem;
  padding-top: 4.5rem;
}

.card {
  padding: 0;
}

.overlay-container {
  position: relative;
}

.overlay-container:hover .overlay {
  opacity: 1;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  transition: 0.5s ease;
  opacity: 0;
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}

.details {
  color: white;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.details:hover {
  color: blue;
}
